<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<i class="fa fa-address-book fa-3x" aria-hidden="true"></i>

<app-course></app-course>
<app-parent></app-parent>
<app-customer>
<img src="{{cardImg}}" class="img">
<h2 class="heading">Heading part</h2>
</app-customer>
<app-users></app-users>

<div class="dropdown open">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
        Dropdown
      </button>
  <div class="dropdown-menu" aria-labelledby="triggerId">
    <button class="dropdown-item" href="#">Action</button>
    <button class="dropdown-item disabled" href="#">Disabled action</button>
  </div>
</div>
<app-gender [likes]="totalLikes"></app-gender>
 -->
<app-template></app-template>

